@using SaluScanner.Core.Entities
@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form class="form-group">
    <div>
        <label>Kategori Adı</label>
        <input type="text" class="form-control" name="CategoryName" />
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-danger">Kategori Ekle</button>
    </div>
</form>

